.search-part {
    height: 100%;
    position: relative;
    z-index: 1;

    .search-input {
        height: 100%;
        border-radius: $box-border-radius-md;
        transition: $nomal-transition;

        input {
            width: 0;
            height: 100%;
            line-height: 100%;
            padding: $box-padding-md;
            border-radius: $box-border-radius-md 0 0 $box-border-radius-md;
            font-size: $md-font;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            position: relative;
            top: $line-cor;
            transition: $nomal-transition;
            &:focus{outline: none;}
        }
        .search-btn {
            border-radius: 0 $box-border-radius-md $box-border-radius-md 0;
            transition: $nomal-transition;
            cursor: pointer;
        }


        &.on {
            box-shadow: 5px 5px 18px #e8e8e8,
                    -5px -5px 18px #ffffff;

            input {
                width: 260px;
            }

            .search-btn {
                background-color: $black-color;
                padding: $box-padding-md;
                svg{color: #fff; }
            }
        }
    }


    .search-list-part {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: #fff;
        z-index: -1;

        .blank {
            width: 100%;
            height: 40px
        }
        
    }
}