// 공통 사용 변수
@import "./variable.scss";

& {
    height: 60px;
    box-sizing: border-box;
    background: $white-color;

    .header-wrap {
        height: 100%;

        .logo {
            height: 100%;
            img {height: 100%;}
        }

        .menu {
            ul {
                height: 100%;
                background: $gray-color;
                overflow: hidden;
                box-sizing: border-box;

                li {
                    margin-left: 20px;
                    border-radius: $box-border-radius-sm;
                    overflow: hidden;
                    transition: $fast-transition;
                    a{transition: $fast-transition;}

                    &:nth-child(1) {margin-left: 0;}
                    &.on {
                        background-color: $black-color;
                        a {color: $white-color;}
                    }
                    
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        padding: 0 14px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }


        .func {
            svg {
                color: $black-color;
                transition: $fast-transition;
            }
            .func-btn {
                display: block;
                height: 100%;
                line-height: 100%;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                font-size: 1.3em;
                transition: $fast-transition;
                &:hover{
                    svg {color: #b1b1b1;}
                }
            }

            .mode-btn {

            }


            .search-part {
                margin-left: 15px;
            }

            .search-btn {
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}