// 공통 사용 변수
@import "./variable.scss";

& {
    height: 60px;
    width: 100%;
    box-sizing: border-box;

    .header-wrap {
        height: 100%;
        padding: 10px 25px;
        box-sizing: border-box;
        position: relative;

        .logo {
            height: 100%;
            float: left;

            img {
                height: 100%;
                width: auto;
            }
        }

        .func {
            float: right;
        }

        .menu {
            position: absolute;
            border-radius: 20px;
            height: 40px;
            padding: 0 20px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            overflow: hidden;

            ul {
                height: 100%;
                align-items: center;
                li {
                    position: relative;
                    top: -1px;
                    padding: 0 30px;
                    
                    a {
                        z-index: 1;
                    }
                    .on-action {
                        /*width: 100%;
                        &::before {
                            content: "";
                            display: block;
                            padding-bottom: 100%;
                        }

                        border-radius: 100%;
                        background-color: $black-color;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);*/
                        width: 50%;
                        height: 150%;
                        background-color: $black-color;
                        position: absolute;
                        top: calc(50% + 1px);
                        border-radius: 10px;
                        left: 50%;
                        transform: translate(-50%, -50%);


                        z-index: -1;

                        display: none;
                    }


                    &.on {
                        a {color: $white-color;}
                        .on-action {display: block;}
                    }
                }
            }
        }
    }












    /*height: 60px;
    box-sizing: border-box;
    background: $white-color;
    z-index: $header-index;

    .header-wrap {
        height: 100%;

        .logo {
            height: 100%;
            img {height: 100%;}
        }

        .menu {
            ul {
                height: 100%;
                background: $gray-color;
                overflow: hidden;
                box-sizing: border-box;

                li {
                    margin-left: 20px;
                    border-radius: $box-border-radius-sm;
                    overflow: hidden;
                    transition: $fast-transition;
                    a{transition: $fast-transition;}

                    &:nth-child(1) {margin-left: 0;}
                    &.on {
                        background-color: $black-color;
                        a {color: $white-color;}
                    }
                    
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        padding: 0 14px;
                        position: relative;
                        top: $line-cor;
                    }
                }
            }
        }


        .func {
            svg {
                color: $black-color;
                transition: $fast-transition;
            }
            .func-btn {
                display: block;
                height: 100%;
                line-height: 100%;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                font-size: 1.3em;
                margin-left: 20px;
                &:nth-child(1) {margin-left: 0;}
            }

            .mode-btn {
                transition: $fast-transition;
                &:hover{
                    svg {color: #b1b1b1;}
                }
            }


            .search-part {
                &.on {margin-left: 28px;}
            }


            .user-btn {
                transition: $fast-transition;
                border: 1.5px solid $black-color;

                &:hover {
                    background-color: $black-color;
                    color: #fff;
                }
            }
        }
    }*/
}