/** 반응형 사이즈 규격 */
$device-xxl-width: 1600px;
$device-xl-width: 1280px;
$device-lg-width: 1024px;
$device-md-width: 768px;
$device-sm-width: 576px;


/** box 사이즈 */
// Border-radius
$box-border-radius-xxl: 22px;
$box-border-radius-xl: 18px;
$box-border-radius-lg: 14px;
$box-border-radius-md: 10px;
$box-border-radius-sm: 6px;

// Padding
// $box-padding-xl: 10px 25px;
$box-padding-lg: 10px 25px;
$box-padding-md: 6px 10px;
$box-padding-sm: 4px 6px;




// transition 정의
$fast-transition: .2s;
$nomal-transition: .4s;



/** 폰트 사이즈 */
$xl-font: 2em;
$lg-font: 1.5em;
$md-font: 1.2em;



/** Color */
$gray-color: #F1F1F2;
$black-color: #2C2C2C;
$white-color: #ffffff;




/** line-height 보정 단위, "position:relative" 필요 */
$line-cor: -1px;









/** z-index 정의 */
$header-index: 900;
$modal-index: 900;
